{% extends 'user/layouts/master.html' %}
{% block content %}
{% load static %}

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active ps ps--active-y">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo mb-3">
                        <a href="index.html"><img src="{% static 'images/logo/logooo.png' %}" style="width:auto; height:200px"alt="Logo"></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item">
                    <a href="index.html" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item has-sub active">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-people-fill"></i>
                        <span>Members</span>
                    </a>
                    <ul class="submenu" style="display: none;">
                        <li class="submenu-item ">
                            <a href="{% url 'add-member' %}">Add Member</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'manage-members' %}">Manage Members</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-people-fill"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-pie-chart-fill"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Age Reports</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Gender Reports</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Barangay Reports</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Layouts</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="layout-default.html">Default Layout</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="layout-vertical-1-column.html">1 Column</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="layout-vertical-navbar.html">Vertical with Navbar</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="layout-horizontal.html">Horizontal Menu</a>
                        </li>
                    </ul>
                </li>

                
            </ul>
        </div>
</div>
</div>

<!-- top nav -->
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Add Member</h3>
                <p class="text-subtitle text-muted">Multiple form layout you can use</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Member</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<style>
  .roundedImage {
    overflow:hidden;
    border-radius:50%;
    width:200px;
    height:200px;
}
</style>

 <!-- Basic Horizontal form layout section start -->
 <section id="basic-horizontal-layouts">
  <div class="row match-height">
      <div class="col-md-4 col-12">
          <div class="card">
              <div class="card-content">
                  <div class="card-body">
                      <form class="form form-horizontal">
                          <div class="form-body">
                              <div class="row">
                                <div class="text-center">
                                    <img src="{% static 'images/faces/3.jpg' %}" class="roundedImage" alt="" srcset="">
                                </div>
                                <div class="mt-3 text-center">
                                  <label><h5>{{member.first_name }} {{member.middle_name }} {{ member.last_name }} </h5></label>
                                </div>
                                <div class="text-center text-muted">
                                  <label>{{member.fscap_no}}</label>
                                </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-8 col-12">
          <div class="card">
              <div class="card-content">
                  <div class="card-body">
                      <form class="form form-horizontal">
                          <div class="form-body">
                              <div class="col-12 col-md-6 order-md-4 order-last">
                                  <ul class="list-group">
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Name:</strong> &nbsp; {{member.first_name }} {{member.middle_name }} {{ member.last_name }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Sex:</strong> {{ member.sex }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Civil Status:</strong> {{ member.civil_status }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Birthday:</strong> {{ member.birthday }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Place of Birth:</strong>{{ member.place_of_birth}}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Barangay:</strong> {{ member.barangay }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Occupation:</strong> {{ member.occupation }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Annual Income:</strong> {{ member.annual_income }}</li>
                                    <li class="list-group-item border-0 ps-0 text-md"><strong>Skills: </strong> &nbsp; {{ member.skills }}</li>
                                  </ul>
                              </div>
                              <div class="col-12 col-md-6 order-md-4 order-last">
                                <a href="{% url 'manage-users' %}" class="btn btn-primary btn-block shadow mt-3" class>Back</a>
                              </div>
                          </div> 
                      </form>
                    
                     
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- // Basic Horizontal form layout section end -->
    <!-- add-member form -->


</div>
{% endblock %}