{% load static %}
{% load crispy_forms_tags %}
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SCMS</title>

<link rel="shortcut icon" href="{% static 'images/icons/icon.ico' %}" />
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
</head>

<style>
    .invalid{
        color: red;
    }
</style>

<div class="row mt-5">
    <div class="row d-flex justify-content-center text-center">
        <div class="row d-flex justify-content-center text-center">
            <a href="{% url 'welcome' %}"><img src="{% static 'images/logo/logooo.png' %}" style="max-width: 25%;" alt="Logo"></a>
        </div>
        <div class="col-3 mt-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% comment %} {{ form|crispy }} {% endcomment %}
                    
                    <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
                </div>
                {% if messages %}
                    {% for message in messages %}
                            <p class="invalid"> {{ message }} </p>
                    {% endfor %}
                {% endif %}
                <button class="btn btn-primary btn-block shadow mb-3" type="submit">Log in</button> 
            </form>
            <p class="text-gray-600">Don't have an account? <a href="{% url 'signup' %}" class="font-bold">Sign
                    up</a>.</p>
            {% comment %} <p><a class="font-bold" href="auth-forgot-password.html">Forgot password?</a>.</p> {% endcomment %}

        </div>
    </div>
</div>



