<div class="login-page">
    {% comment %} <img src="{% static 'images/login-background.PNG' %}" alt=""> {% endcomment %}
    <div class="student-signup-form">
      {% if registered %}
      <h1>Thank you for registering.</h1>
      {% else %}
      <h1>Sign Up as a teacher.</h1>
      
  
      <form method="post" enctype="multipart/form-data" class=form-group>
        {% csrf_token %}
  
        {{ profile_form.non_field_errors }}
  
        <p> <label for="">{{ profile_form.fscap_no.label_tag }}</label>  {{ profile_form.fscap_no }}</p>
        <p> <label for="">{{ profile_form.last_name.label_tag }}</label>  {{ profile_form.last_name }}</p>
        <p> <label for="">{{ profile_form.first_name.label_tag }}</label>  {{ profile_form.first_name }}</p>
        <p> <label for="">{{ profile_form.middle_name.label_tag }}</label>  {{ profile_form.middle_name }}</p>
        <p> <label for="">{{ profile_form.name_ext.label_tag }}</label>  {{ profile_form.name_ext }}</p>
        <p> <label for="">{{ profile_form.barangay.label_tag }}</label>  {{ profile_form.barangay }}</p>
        <p> <label for="">{{ profile_form.date_of_birth.label_tag }}</label>  {{ profile_form.date_of_birth }}</p>
        <p> <label for="">{{ profile_form.place_of_birth.label_tag }}</label>  {{ profile_form.place_of_birth }}</p>
        <p> <label for="">{{ profile_form.contact_number.label_tag }}</label>  {{ profile_form.contact_number }}</p>
        <p> <label for="">{{ profile_form.sex.label_tag }}</label>  {{ profile_form.sex }}</p>
        <p> <label for="">{{ profile_form.civil_status.label_tag }}</label>  {{ profile_form.civil_status }}</p>
        <p> <label for="">{{ profile_form.occupation.label_tag }}</label>  {{ profile_form.occupation }}</p>
        <p> <label for="">{{ profile_form.skills.label_tag }}</label>  {{ profile_form.skills }}</p>
        <p> <label for="">{{ profile_form.annual_income.label_tag }}</label>  {{ profile_form.annual_income }}</p>
        <p> <label for="">{{ profile_form.img.label_tag }}</label>  {{ profile_form.img }}</p>
        <p> <label for="">{{ profile_form.documents.label_tag }}</label>  {{ profile_form.documents }}</p>
        {{ user_form.non_field_errors }}
  
        <p> <label for="">{{ user_form.username.label_tag }}</label>{{ user_form.username }}</p>
        <p> {{ user_form.username.help_text }}</p>
        <p> <label for="">{{ user_form.email.label_tag }}</label>{{ user_form.email}}</p>
        <p> {{ user_form.email.help_text }}</p>
        <p> <label for="">{{ user_form.phone_no.label_tag }}</label>{{ user_form.phone_no }}</p>
        <p> {{ user_form.phone_no.help_text }}</p>
        <p> <label for="">{{ user_form.first_name.label_tag }}</label>{{ user_form.first_name }}</p>
        <p> {{ user_form.first_name.help_text }}</p>
        <p> <label for="">{{ user_form.last_name.label_tag }}</label>{{ user_form.last_name }}</p>
        <p> {{ user_form.last_name.help_text }}</p>
        <p> <label for="">{{ user_form.password1.label_tag }}</label>{{ user_form.password1 }}</p>
        <p> {{ user_form.password1.help_text }} </p>
        <p> <label for="">{{ user_form.password2.label_tag }}</label>{{ user_form.password2 }}</p>
        <p> {{ user_form.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="#">Already have an account.</a>
      {% endif %}
    </div>
  </div>
  